<div class="row">
  <div class="col-xs-12 white">
    <h3>Submit your bid:</h3>
    <form method="POST" action="/projects/<%= subproject.id %>/bid">
      <div class="form-group">
        Company Name:
        <input name="company" type="text" class="form-control" placeholder="Your company">
        <br>
        License Number:
        <input name="license" type="text" class="form-control" placeholder="Your license number for state the work is in">
        <br>
        Contact Name:
        <input name="firstname" type="text" class="form-control" placeholder="Point of contact at your company">
        <br>
        Bid Amount:
        <input name="amount" type="text" class="form-control" placeholder="Your bid for this work request">
        <label for="notes">Notes:</label>
        <textarea name="notes" class="form-control" rows="2" id="notes" placeholder="Any notes you want to add about your bid"></textarea>
      </div>
      <button type="submit" class="btn btn-primary launch-modal" data-modal-id="modal-bid-submit">Submit</button>
    </form>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="modal-bid-submit" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <h3 class="black-text">Bid submitted successfully.  See your current bids in your account profile.</h3>      
        <form role="form" action="" method="POST" class="registration-form">
          <button type="submit" class="btn">Okay</button>
        </form>   
      </div>
    </div>
  </div>
</div>